numpy==2.3.2
pandas==2.3.1
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.2
fastapi==0.116.1
uvicorn==0.35.0
matplotlib==3.10.3
markdown2==2.5.4
requests==2.32.4
pydantic==2.11.7
python-multipart==0.0.20
